{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}

        <button class="btn btn-lg btn-primary mt-1" type="submit">
            Valider
        </button>
    {{ form_end(registrationForm) }}
{% endblock %}
