{% extends 'admin/base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    {# La recherche et le tableau des articles sont chargés dans le composant Live #}
    {{ component('admin_post_search', { query : query }) }}
{% endblock %}