@use 'components/variables' as var;

.navbar-brand {
    color: var.$blue;
}

.info-wrapper { 
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
    
    code { 
        background: var.$code-bg;
        padding: 2px 6px;
    }
}