<div class="{{ type }}-wrapper">
    <h1>{{ title }}</h1>

    Ce message provient de :
    <ul>
        <li>Le controlleur dans <code>{{ controller }}</code></li>
        <li>Le template dans <code>{{ template }}</code></li>
    </ul>
</div>