{% extends 'base.html.twig' %}

{% block title %}Erreur 500{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="text-primary">Erreur 500</h1>
        <h3>Une erreur interne est survenue.</h3>
        <p>
            <a class="btn btn-outline-primary" href="{{ path('home') }}">Retourner à l'accueil</a>
        </p>
    </div>
{% endblock %}